



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#signinForm, #signupForm {
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    width: 800px;
    padding-right: 50px;
    padding-left: 50px;
    height: auto;
    text-align: center;
}

.centerForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.login-overlay {
    filter: opacity(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
}

.container-fluid { /*remove bootstrap left right margin*/
    padding-top: 0% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    height: 100vh;
}

.login{
    font-size: 60px;
    letter-spacing: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:none

}

.subtext{
    letter-spacing: 2px;
    opacity: 80%;
}

.subp{
    letter-spacing: 5px;
}

.subtext, .subp{
    font-size: 20px;

    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.register{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-decoration: underline;
    letter-spacing: 5px;
}

.register:hover{
    color: rgb(255, 206, 206);
}




.login-button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: AUTO;
  padding: 20px;
  letter-spacing: 10px;
}

.login-button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.login-button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.login-button:hover {
  background-color: var(--hover-color);
}

.login-button:hover .arrow {
  background: var(--secondary-color);
}

.login-button:hover .arrow:before {
  right: 0;
}
.name{
    flex: 1;
}

#email, #password, #confirmpassword, #contactnumber, #fname, #lname{
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 2px;
    border: 2px solid;
    color: white;
    border-radius: 10px !important;
    border: none !important;
    width: 100% !important; 
    margin: 0 !important;
}

